/*Font Loded*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
  font-family: 'Surround'; /*font 이름*/
  font-style: 'normal'; /* font 스타일 정의 (기울임, 일반) */
  font-weight: 400; /* font 굵기 정의 */
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url('../fonts/Cafe24Ssurround-v2.0.otf'); /* IE9 Compat Modes */
}



body {
  background-image: url("../img/pinkdots.jpg");
  background-size: cover;
 }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:#000000;
  background-color: #ffc7c7;
  padding: 8px 12px;
}

.navbar__logo i {
  color: white;
  padding-left: 0;
}
a {

  text-decoration: none;
  font-family: 'Surround';
  color:#000000
  
}
.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}

.navbar__icons {
  list-style: none;
  display: flex;
  color: white;
  margin: 0;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
  margin: 0;
}
.navbar__menu li:hover {
  background-color: white;
  border-radius: 3px;
}

.btn-custom {
  color: #bdc3c7;
  font-size: 18px;
  font-family: 'Surround';
  border: 1px solid #bdc3c7;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
#pricing-table {
  padding-top: 10px;
}
#pricing-table .pricing {

  padding: 0;
  font-family: 'Surround';
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background:  #ff9a9a;
  padding: 18px 18px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color:  #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Surround';
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Surround';
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 18px;
  font-family: 'Surround';
  position: relative;
  top: -30px;
  text-align: center;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 18px 0 18px 0;
  font-family: 'Surround';
  text-align: center;
  background: #fff7f8;
  border: 1px solid #e3e3e3;
  display:block;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #000000;
  font-family: 'Surround';
  font-size: 12px;
  text-align: center;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color:  #ffb9c2;
}
#pricing-table .pricing .pricing-list ul li span {
  color:  #444444;
}
